@mixin flexible () {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Size */
$ctnr-w: 1140px;

/* Colors, styles */
$ff: 'Lato';
$fs: normal;
/* font-weight */
$fw: 400;
$fw_m: 300;
$fw_xl: 700;
$fw_xxl: 900;

$ttu: uppercase;
$ttl: lowercase;


$clr1: #E05C6E;
$clr2: #F16D7F;
$clr3: #FF6A6A;
$clr4: #9F9F9F;
$clr5: #222222;
$clr6: #222224;
$clr7: #5D5D5D;
$clr8: #FBFBFB;
$clr9: #E1E1E1;
$clr10: #EAEAEA;
$clr11: #5E5E5E;
$clr12: #6F6E6E;
$clr13: #F26376;

/* Buttons */

/* Animations */
