.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #222222;
  color: white;
  height: 75px;
}

.index-top {
  background-color: #F1E4E6;
}

.index-top-content {
  display: flex;
  justify-content: space-around;
}

.index-top-img {

}
